.logo {
  display: inline;
  width: 50px;
}

h1 {
  color: rgb(184, 45, 45);
}

nav a{
  display: inline;
  margin: 5px 20px;
}

.main {
  display: inline;
  width: 60%;
}

.main * {
  display: inline;
}

.message-bar {
  display: inline;
  width: 40%;
}

.message-bar * {
  display: inline;
}
